.DS_Store
.atom/
.idea
.vscode/
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
.flutter-plugins
android/key.properties
android/app/google-services.json    
ios/Runner/GoogleService-Info.plist
GoogleService-Info.plist
.git-old
